    .header-wrapper {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
       padding: 0 70px ;
       
    }
   .app-wrapper, .app-wrapper-dark{
    width: 100%;
    height: 100vh;
   }

    
    .app-wrapper-dark{
        background-color: black;
    }
    
    
    .search-wrapper{
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .drop-wrapper{
        border: none;
        background: none;
    }